

@font-face {
    font-family: 'Noto Sans';
    src: url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'), url('ProximaNova-Regular.ttf') format('truetype'), url('ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

